html {
	height: 100%;
	color: #ffffff;
	background-color: #000000;
}

body {
	margin: 0; /* Убираем отступы */
	height: 100%; /* Высота страницы */
	background: url(/assets/404/404.svg) no-repeat center center fixed; /* Параметры фона */
	background-size: contain; /* Фон занимает всю доступную площадь */
}

a {
	color: #ffffff;
}